{% extends "layout.html" %} {% block content %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='/Modulo 1-Segundo Año/My Pet 2.0/templates/fullcalendar-5.10.1/lib/main.min.css' rel='stylesheet' />
    <script src='/Modulo 1-Segundo Año/My Pet 2.0/templates/fullcalendar-5.10.1/lib/main.min.js'></script>
    <script src='/Modulo 1-Segundo Año/My Pet 2.0/static/javascript/calendar.js'></script> 
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-12">
          <h2 class="display-6 mt-6"> Otorgar nuevo turno</h2>
          <hr class=" bg-primary pt-0 mt-0 "> </hr>
          <p>Ingresa los datos del Cliente<p>
  
          <form class="row g-3 pt-4 mt-4">
            <div class="col-md-4">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" required>
            </div>
            <div class="col-md-4 ">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" name="apellido" id="apellido" required>
            </div>
            <div class="col-md-4 ">
              <label for="nombreMascota" class="form-label">Nombre de la Mascota</label>
              <input type="text" class="form-control" name="nombreMascota" id="nombreMascota" required>
            </div>
            <div class="col-md-4 ">
              <label for="tipoConsulta" class="form-label">Elija el Tipo de Consulta</label>
              <select id="tipoConsulta" name="tipoConsulta" class="form-control">
                <option value="1">Consulta</option> 
                <option value="2">Vacunación</option>
                <option value="3">Baño Sanitario</option>
                <option value="3">Cirugía Programada</option>
              </select>
            </div>
            <div class="col-md-4 ">
              <label for="fecha" class="form-label">Elegir Fecha</label>
              <input type="date" class="form-control" name="fecha" id="fecha" required>
            </div>
            <div class="col-md-4 ">
              <label for="horario" class="form-label">Hora</label>
              <input type="time" class="form-control" name="horario" id="nombreMascota" required>
            </div>

            <div class="col-12 pt-4 mt-4">
              <!-- CON ESTE BOTÓN DEBERÍAMOS MANDAR ESTOS DATOS AL CALENDAR -->
              <button onClick="addEvent" id="addEvent" class="btn btn-primary" type="button" role="button">Agregar Turno</button>
            </div>
                  </form>  
                </div>
              </div>
            </div>
   
          </form>

    <div class="row g-3 pt-4 mt-4">
      <div class="col-5 p-4 m-4"> 
        <div id='calendar'></div>
      </div>
    </div>
  </body>
</html>

{% endblock %}